{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}

<h2 class="text-center">About Us</h2>
<center>
    <img style="border: 2px solid black; border-radius: 50%;" src="https://i.postimg.cc/mgNX9ccr/SRS-Mart.jpg" alt="SRS-Mart Logo" class="img-fluid" height="200" width="200">
</center>

<div class="d-flex align-items-center justify-content-center my-4">
    <br>
    <div class="text-center">
        <div class="tj pdlr">
            <p><span class="fw-bold"> This is the official site of SRS-Mart. </span></p>
            <br>
            <p>This is the e-commerce website which facilitates user to buy different products at a discounted price! We keep adding new products, so make sure you check the site daily!</p>
            <p>Thank you for using our site !</p>
        </div>
    </div>
</div>

{% endblock main-content %}