{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block main-content %}

<h2 class="text-center">Contact Us</h2>
<div class="d-flex align-items-center justify-content-center my-4">
    <div class="text-center">
        <div class="tj pdlr">
            <p>Feel free to contact us at the email given below. We'll try to respond you at the earliest.</p>
            <span class="fw-bold">Email:</span>
            <a href="mailto:srs.mart.12@gmail.com">srs.mart.12@gmail.com</a>
            <br><br>
            <p>Thank you for using our site !</p>
        </div>

    </div>
</div>

{% endblock main-content %}