<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="shortcut icon" href="../../app/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../app/static/app/css/my-style.css">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    body{
        background-image: url("../../static/app/images/email-reset.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }
</style>
</head>
<body>

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <center>
                <h1 class="alert-heading" style="color: green;">Congratulations!!</h1>
                <p style="font-size: 1.5em;">An email has been sent to you with password reset link. <br> <b>Please check your email !</b></p>
            </center>
            </div>
    </div>
</div>

</body>
</html>